*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
ul, li{list-style:none;}
.main{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.nav {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.nav .logoNav {
    display: flex;
    background-color: #1D2531;
    flex-direction: column;
    justify-content: flex-start;
    flex: none;
    width: 100px;
    height: 100%;
}

.nav .logoNav .logo{
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}

.nav .logoNav .bottom-setting {
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    text-align: center;
    margin-bottom: 15px; 
}

.nav .logoNav .bottom-setting img:first-of-type{
    margin-right: 15%;
}

.nav .menuNav {
  position: relative;
    flex: 3;
    background-color: #222C3C;
}

.nav .menuNav .menu {
    margin: 30px 30px 0 30px;
    border-bottom: #475364 solid 1px;
}
.nav .menuNav .menu .menuHeader,.menuItems{
    color: #B7C0CD;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .menuNav .menu:nth-of-type(2) .menuItems{
    justify-content: flex-start;
}
.nav .menuNav .menu:nth-of-type(2) .menuItems img{
    margin-right: 20px;
}
.nav .menuNav .menu .menuHeader{
    color: #475364;
}

.nav .menuNav .menu .menuItems p span{
    background-color: #269BF3;
    padding: 5px 10px 5px 10px;
    border-radius: 45%;
}
.nav .menuNav .menu .menuItems:nth-child(4) p span{
    background-color: #E44226;
    border-radius: 50%;
    padding: 2.5px 10px;
}

.nav .menuNav .progress{
  padding: 0 30px;
  width: 100%;
  color: azure;
  position: absolute;
  bottom: 30px;
}

.nav .menuNav .progress p span:last-of-type{
  float: right;
}

/* nav .menuNav .progress progress::-webkit-progress-bar{
  background: .475364;
}

nav .menuNav .progress progress::-webkit-progress-value{
  background: linear-gradient(to right, .7F5BE4 , .9C8EE3);
} */

.full {
  width: 100%;
  height: 0.3rem;
  margin-top: 30px;
  background-color: #475364;
  border-radius: 2px;
}
.base {
  width: 18%;
  height: 100%;
  background: linear-gradient(to right, #7f5be6, #9d8fe3);
  border-radius: 2px;
}

.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  flex: 4;
}

.header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e9ec;
}

.header>p{
  margin-left: 30px;
  color: #475364;
  font-size: 22px;
}
.header .profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .profile .userName :nth-child(1){
  color: #269BF3;
}

.header .profile .userName :nth-child(2){
  color: #BEBEBE;
}
.header .profile img{
  margin: 0 30px;
}

.container .chatList {
  width: 400px;
  height: calc(100% - 101px);
  float: left;
}
.overflow {
  overflow: scroll;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.container .chatList .search {
  width: 100%;
  height: 80px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 80px;
  border: 1px solid #e6e9ec;
  border-top: none;
}
.container .chatList .search input {
  width: 350px;
  height: 40px;
  padding: 0px 30px 0px 20px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #BEBEBE;
}

.container .chatList .search button {
  border: none;
  background: none;
  position: absolute;
  right: 30px;
  top: 30px;
}

.chatList .chatItems {
  border: 1px solid #e6e9ec;
  border-top: none;
}
.chatList .chatItems .userInfo{
  position: relative;
  height: 80px;
}
.chatList .chatItems .userInfo img{
  float: left;
  padding: 20px 20px;
}

.chatList .chatItems .userInfo .userDetail{
  padding: 20px 60px;
  color: #BEBEBE;
}

.chatList .chatItems .userInfo .userDetail :first-child{
  color: #616671;
  font-size: 1.1em;
}

.chatList .chatItems .userInfo .time{
  position: absolute;
  right: 10px;
  bottom: 40px;
  color: #A3A5AC;
}

.chatList .chatItems .chatContent{
  margin: 10px 10px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #A3A5AC;
}

.chatList .chatItems .chatContent .tips{
  background-color: #269BF3;
  border-radius: 45%;
  padding: 0px 6px;
  color: aliceblue;
}
.chatList .chatItemsActive{
  border-left: solid 2px #2399f1;
}

.chatList .chatItemsActive .userInfo .userDetail :first-child{
  color: #2399f1;
  font-weight: bold;
}

.chatList .chatItemsActive .userInfo .userDetail :first-child::before{
  display: inline-block;
  content: '';
  width: 0.5em;
  height: 0.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  background-color: #2399f1;
  border-radius: 50%;
}

.moments{
  margin-left: 400px;
  height: calc(100% - 101px);
  position: relative;
}
.momentsHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
  padding-left: 40px;
  border-bottom: 1px solid #e6e9ec;
}

.momentsHeader>p{
  color: #616671;
  font-size: 1.1em;
  font-weight: bold;
}

.momentsHeader>p::after{
  display: inline-block;
  content: '';
  width: 0.5em;
  height: 0.5em;
  vertical-align: middle;
  margin-right: 0.5em;
  background-color: #1BB934;
  border-radius: 50%;
  margin: 0px 10px;
}

.momentsHeader .buttonList{
  display: flex;
  align-items: center;
}

.momentsHeader .buttonList ul{
  background-color: #F4F6F9;
  border: 1px solid #e6e9ec;
  border-radius: 3px;
  overflow: hidden;
}

.momentsHeader .buttonList p{
  border-left: 1.5px solid #e6e9ec;
  margin: 0px 10px;
  padding-left: 10px;
}

.momentsHeader .buttonList ul li{
  display: block;
  float: left;
  padding: 10px 15px;
}

.momentsHeader .buttonList ul li.addBorderRight{
  border-right:1px solid #e6e9ec;
}
.momentsList {
  height: calc(100% - 180px);
  margin-bottom: 100px;
}
.momentsList .momentsItem{
  margin: 30px 50px 0px 0px;
}

.momentsList .momentsItem>img{
  width: 46px;
  float: left;
  margin: 0px 20px;
}
.momentsList .momentsItem .momentDetail {
  margin-left: 90px;
}

.momentsList .momentsItem .momentDetail p span.whoSends{
  font-weight: bold;
  font-size: 1.1em;
  color: #616671;
}

.momentsList .momentsItem .momentDetail p span.postTime{
  padding-left: 5px;
  color: #B7C0CD;
}

.momentsList .momentsItem .momentContent{
  color: #A3A5AC;
  padding-top: 10px;
}

/* .momentsList .splitline{
  width: 100%;
  height: 0px;
  position: relative;
  text-align: center;
}
.momentsList .splitline::before{
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #A3A5AC;
}

.momentsList .splitline span{
  background-color: white;
  color: #A3A5AC; 
  z-index: 1;
} */

.momentsList .splitline{
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e9ec;
  text-align: center;
}

.momentsList .blueline{
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #269BF3;
  text-align: center;
}

.momentsList .splitline span{
  position: relative;
  top: 10px;
  padding: 0px 10px;
  background-color: white;
  color: #A3A5AC; 
}

.momentsList .blueline span{
  position: relative;
  top: 10px;
  padding: 0px 10px;
  background-color: white;
  color: #269BF3; 
}
.momentsItem .ablum .photo{
  position: relative;
  float: left;
  margin: 20px 20px 20px 0px;
}
.momentsItem .ablum .photoMask{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #222C3C;
  opacity: 0.5;
  text-align: center;
}

.momentsItem .ablum .photoMask>img{
  margin-top: 25px;
}
.momentsItem .ablum .photo:hover .photoMask{
  display: block;
}

.momentPost {
  width: 100%;
  padding: 20px 50px 20px 20px;
  position: absolute;
  bottom: 0;
}

.momentPost>img{
  float: left;
  padding: 18px;
  height: 50px;
  background-color: #e6e9ec;
  border: 1px solid #B7C0CD;
  border-right: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.momentPost input{
  height: 50px;
  width: calc(100% - 52px);
  padding-left: 20px;
  border: 1px solid #B7C0CD;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}